@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Staatliches&display=swap');

.footer{
    background: #04071D;
    padding-bottom: 0.1px;
}
.contenedor-footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Staatliches', cursive;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-bottom: 0px;
    background: #AFE43E;
}
.contacto-creadores{
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%; /*sacarlo*/
    text-align: center;
    color: #060e4a;
}
